.vid-container {
    margin: 0;
    padding: 0;
}
.intro-vid{
    width: 100%;
   
}
.overlay {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    gap: 7rem; 
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    font-family:"Major Mono Display", monospace;
   
}

.overlay-text {
    color: rgb(255, 255, 255);
    font-size: 2rem;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.9);
    font-size: 50px;
}